<!--utilizar las extensiones de la carpeta de diseño.html-->

{% extends "diseño.html" %}

{% block content %}
<p>&nbsp;</p>
<div class="container">
  <style>
    body {
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 125% 100%;

    }

  </style>
  <h1>
    <center>
      <strong>Bibliografia</strong>
    </center>
  </h1>
  <h2>
    <center>
      <strong>Con esta bibliografía se contruyó toda la pagina e información como tal</strong>
    </center>
  </h2>
  <p>&nbsp;</p>
  <div class="margin">

    <p class="lead", style="text-align:justify">
      Fazt. (04/01/2019). Tu Primer Página Web con Python3. Lugar de publicación: Youtube. dirección de donde se extrajo el documento (https://www.youtube.com/watch?v=fxavwHPJ36o&t=1908s).
    </p>

    <p class="lead", style="text-align:justify">
      CodigoLibre. (27/03/2020). Diseño de mensajes de cookies con HTML y CSS. Lugar de publicación: Youtube. dirección de donde se extrajo el documento (https://www.youtube.com/watch?v=BUk-J1bYufQ).
    </p>

    <p class="lead", style="text-align:justify">
      Universidad Nacional de Colombia. (2014). Solicitud de permiso de ingreso. Lugar de publicación: estamos.contigo.Medellín.unal.edu.co. dirección de donde se extrajo el documento (https://processp.medellin.unal.edu.co/plugin/permisosIngreso/index.html).
    </p>

    <p class="lead", style="text-align:justify">
      bootstrap. (2020). bootstrap. Lugar de publicación: bootstrap. dirección de donde se extrajo el documento (https://getbootstrap.com/).
    </p>

    <p class="lead", style="text-align:justify">
      uigradients. (2019). uigradients. Lugar de publicación: uigradients. dirección de donde se extrajo el documento (https://uigradients.com/#EndlessRiver).
    </p>

    <p class="lead", style="text-align:justify">
      lineadecodigo. (2021). Usar estáticos en aplicación Flask. Lugar de publicación: lineadecodigo. dirección de donde se extrajo el documento (http://lineadecodigo.com/python/usar-estaticos-aplicacion-flask/).
    </p>
    
    <p class="lead", style="text-align:justify">
      Drive. (2021). Drive institucional-base de datos-github-replit. Lugar de publicación: Drive. dirección de donde se extrajo el documento (https://drive.google.com/drive/folders/1NWkZJlYi8llFNMP87Fg1MXKjVpR2KiJj?usp=sharing).
    </p>

    <p class="lead", style="text-align:justify">
      Database. (indefinida). Replit Database. Lugar de publicación: Replit. dirección de donde se extrajo el documento (https://docs.replit.com/misc/database).
    </p>

    <p class="lead", style="text-align:justify">
      online-convert. (2016). Convertir imágenes a PNG. Lugar de publicación: imagen.online-convert. dirección de donde se extrajo el documento (https://imagen.online-convert.com/es/convertir-a-png).
    </p>

    <p class="lead", style="text-align:justify">
      flask. (2010). Using SQLite 3 with Flask. Lugar de publicación: flask. dirección de donde se extrajo el documento (https://flask.palletsprojects.com/en/1.1.x/patterns/sqlite3/).
    </p>

    <p class="lead", style="text-align:justify">
      j2logo. (2019). Tutorial Flask – Lección 3: Uso de formularios en Flaska. Lugar de publicación: j2logo. dirección de donde se extrajo el documento (https://j2logo.com/tutorial-flask-leccion-3-formularios-wtforms/).
    </p>

    <p class="lead", style="text-align:justify">
      León Morales Soto . (16/01/2019). sga.medellin.unal.edu.co. Lugar de publicación: Arboretum y Palmetum. dirección de donde se extrajo el documento (https://sga.medellin.unal.edu.co/gestion-de-flora-y-fauna/arboretum-y-palmetum-leon-morales-soto.html).
    </p>

    <p class="lead", style="text-align:justify">
      Mapas. (2014-actualización 25/05/2021). "medellin.unal.edu.co". Lugar de publicación: Mapas de la Sede. dirección de donde se extrajo el documento (https://medellin.unal.edu.co/la-sede/mapas-de-la-sede.html).
    </p>

    <p class="lead", style="text-align:justify">
      Ravenala madagascariensis. (09/12/2020). Ravenala madagascariensis. Lugar de publicación: wikipedia. dirección de donde se extrajo el documento (https://es.wikipedia.org/wiki/Ravenala_madagascariensis).
    </p>

    <p class="lead", style="text-align:justify">
      Dypsis lutescens. (2014). "catalogofloravalleaburra.eia.edu.co". Lugar de publicación: Dypsis lutescens. dirección de donde se extrajo el documento (https://catalogofloravalleaburra.eia.edu.co/species/176).
    </p>

    <p class="lead", style="text-align:justify">
      RAVENALA MADAGASCARIENSIS. (2021). Consulta Plantas. Lugar de publicación: Consulta Plantas. dirección de donde se extrajo el documento (http://www.consultaplantas.com/index.php/es/plantas-por-nombre/plantas-de-la-m-a-la-r/903-cuidados-de-la-planta-ravenala-madagascariensis-o-arbol-del-viajero).
    </p>

    <p class="lead", style="text-align:justify">
      CITRUS sp. (2016). CITRUS sp. Lugar de publicación: proyectoqr0.wixsite. dirección de donde se extrajo el documento (https://proyectoqr0.wixsite.com/iesalcantara/copia-de-caquilero-8#:~:text=Especies%20de%20grandes%20arbustos%20o,la%20mandarina%20y%20el%20pomelo).
    </p>

    <p class="lead", style="text-align:justify">
      maipue. (Fecha). Citrus sp.. Lugar de publicación: maipue. dirección de donde se extrajo el documento (https://www.maipue.org.ar/citrus-sp/).
    </p>

    <p class="lead", style="text-align:justify">
      Adonidia merrillii. (2014). "catalogofloravalleaburra.eia.edu.co". Lugar de publicación: Adonidia merrillii. dirección de donde se extrajo el documento (https://catalogofloravalleaburra.eia.edu.co/species/196).
    </p>

    <p class="lead", style="text-align:justify">
      Bambusa vulgaris. (indeterminada). monaco naturee ncyclopedia. Lugar de publicación: Bambusa vulgaris. dirección de donde se extrajo el documento (https://www.monaconatureencyclopedia.com/bambusa-vulgaris/?lang=es).
    </p>

    <p class="lead", style="text-align:justify">
      Bambusa vulgaris. (2014- actualización 25/05/2021). "agenciadenoticias.unal.edu.co". Lugar de publicación: Bambusa vulgaris. dirección de donde se extrajo el documento (https://agenciadenoticias.unal.edu.co/detalle/article/bambusa-vulgaris-podria-ser-mas-resistente-que-la-guadua.html).
    </p>

    <p class="lead", style="text-align:justify">
      Psidium guajava. (indefinida). "colombia.inaturalist". Lugar de publicación: Psidium guajava. dirección de donde se extrajo el documento (https://colombia.inaturalist.org/taxa/62859-Psidium-guajava).
    </p>

    <p class="lead", style="text-align:justify">
      Phoenix reclinata. (indefinida). palmeras y jardines. Lugar de publicación: Phoenix reclinata. dirección de donde se extrajo el documento (https://www.palmerasyjardines.com/catalogo-especies/palmera-phoenix-reclinata/).
    </p>

    <p class="lead", style="text-align:justify">
      Dracaena sp. (2002-2020). "fichas.infojardin". Lugar de publicación: Dracaena sp. dirección de donde se extrajo el documento (https://normasapa.com/como-citar-referenciar-paginas-web-con-normas-apa/comment-page-48/).
    </p>

    <p class="lead", style="text-align:justify">
      	Sapindus saponaria. (2014). "catalogofloravalleaburra.eia.edu.co". Lugar de publicación: 	Sapindus saponaria. dirección de donde se extrajo el documento (https://catalogofloravalleaburra.eia.edu.co/species/154).
    </p>

    <p class="lead", style="text-align:justify">
      Livistona chinensis. (indefinida). "colombia.inaturalist.org". Lugar de publicación: Livistona chinensis. dirección de donde se extrajo el documento (https://colombia.inaturalist.org/taxa/199373-Livistona-chinensis).
    </p>

    <p class="lead", style="text-align:justify">
      Dracaena draco. (1997-2021). guiaverde. Lugar de publicación: Dracaena draco. dirección de donde se extrajo el documento (https://www.guiaverde.com/guia-de-plantas/dracaena-draco-582/).
    </p>

    <p class="lead", style="text-align:justify">
      Dracaena draco. (12/01/2021). wikipedia. Lugar de publicación: Dracaena draco. dirección de donde se extrajo el documento (https://es.wikipedia.org/wiki/Dracaena_draco).
    </p>

    <p class="lead", style="text-align:justify">
      Araucaria excelsa. (1997-2021). guiaverde. Lugar de publicación: Araucaria excelsa. dirección de donde se extrajo el documento (https://www.guiaverde.com/guia-de-plantas/araucaria-excelsa-113/).
    </p>

    <p class="lead", style="text-align:justify">
      Araucaria heterophylla. (2014). "catalogofloravalleaburra.eia.edu.co". Lugar de publicación: Araucaria heterophylla. dirección de donde se extrajo el documento (https://catalogofloravalleaburra.eia.edu.co/species/315).
    </p>

    <p class="lead", style="text-align:justify">
      Fabaceae. (indefinida). unavarra. Lugar de publicación: Fabaceae. dirección de donde se extrajo el documento (https://www.unavarra.es/herbario/htm/Leguminosae.htm#:~:text=Distribuci%C3%B3n%3A%20cosmopolita%3B%20diversidad%3A%20es,matorrales%20de%20otabera%20o%20piornales).
    </p>

    <p class="lead", style="text-align:justify">
      MORACEAE Gaudich. (2017). thecompositaehut. Lugar de publicación: MORACEAE Gaudich. dirección de donde se extrajo el documento (https://www.thecompositaehut.com/www_tch/webcurso_spv/familias_pv/moraceae.html#:~:text=Usos%20m%C3%A1s%20importantes%3A%20frutos%20comestibles,Maclura%2C%20y%20Dorstenia%20son%20ornamentales).
    </p>

    <p class="lead", style="text-align:justify">
      Plantas. (2020). pinterest. Lugar de publicación: Plantas. dirección de donde se extrajo el documento (https://co.pinterest.com/pin/702209766869219796/).
    </p>

    <p class="lead", style="text-align:justify">
      cycadaceae. (2019). dreamstime. Lugar de publicación: cycadaceae. dirección de donde se extrajo el documento (https://es.dreamstime.com/photos-images/cycadaceae.html).
    </p>

    <p class="lead", style="text-align:justify">
      Arecaceae. (2008). scielo. Lugar de publicación: Arecaceaeb. dirección de donde se extrajo el documento (http://www.scielo.org.pe/scielo.php?script=sci_arttext&pid=S1727-99332008000000014#:~:text=Usos%3A%20Medicinal%20y%20cosm%C3%A9tico%20%E2%80%94%20El,los%20techos%20de%20las%20viviendas).
    </p>

    <p class="lead", style="text-align:justify">
      Arecaceae. (2019). agefotostock. Lugar de publicación: Arecaceae. dirección de donde se extrajo el documento (https://www.agefotostock.com/age/en/details-photo/historical-graphic-representation-overview-of-various-palm-trees-palm-family-arecaceae-or-palmae-and-plants-producing-fats-and-oils-19th-century/IBR-2066452).
    </p>

    <p class="lead", style="text-align:justify">
      Fabaceae. (2017). redalyc. Lugar de publicación: Fabaceae. dirección de donde se extrajo el documento (https://www.redalyc.org/pdf/856/85649864006.pdf).
    </p>

    <p class="lead", style="text-align:justify">
      Malvaceae. (indefinida). unavarra. Lugar de publicación: Malvaceae. dirección de donde se extrajo el documento (https://www.unavarra.es/herbario/htm/Malvaceae.htm#:~:text=familia%20Malvaceae%20%5Bdicotiled%C3%B3neas%5D,que%20forman%20los%20estambres%20monadelfos).
    </p>

    <p class="lead", style="text-align:justify">
      Malvaceae. (indefinida). valverdedelcamino. Lugar de publicación: Malvaceae. dirección de donde se extrajo el documento (http://www.valverdedelcamino.eu/repositorio/valverdeverde/flora/24Malvaceae.pdf).
    </p>

    <p class="lead", style="text-align:justify">
      Euphorbiaceae. (indefinida). "exa.unne.edu.ar". Lugar de publicación: Euphorbiaceae. dirección de donde se extrajo el documento (http://exa.unne.edu.ar/biologia/diversidadv/documentos/ANGIOSPERMAS/Rosideas/Eurosides%20I/2-Subclado%20de%20la%20Celastrales,%20Malpighiales%20y%20Oxalidales/2-Malpighiales/2-Euphorbiaceae.pdf).
    </p>

    <p class="lead", style="text-align:justify">
      Euphorbiaceae. (indefinida). unavarra. Lugar de publicación: Euphorbiaceae. dirección de donde se extrajo el documento (https://www.unavarra.es/herbario/htm/Euphorbiaceae.htm).
    </p>

    <p class="lead", style="text-align:justify">
      Sapindaceae. (2005). scielo. Lugar de publicación: Sapindaceae. dirección de donde se extrajo el documento (http://scielo.sld.cu/scielo.php?script=sci_arttext&pid=S1028-47962005000300009#:~:text=Se%20destaca%20el%20empleo%20de,informado%20su%20utilidad%20como%20em%C3%A9tico%2C).
    </p>

    <p class="lead", style="text-align:justify">
      RUBIACEAE. (2017). thecompositaehut. Lugar de publicación: RUBIACEAE. dirección de donde se extrajo el documento (http://www.thecompositaehut.com/www_tch/webcurso_spv/familias_pv/rubiaceae.html).
    </p>

    <p class="lead", style="text-align:justify">
      Sapindaceae. (2012). "colombia.inaturalist". Lugar de publicación: Sapindaceae. dirección de donde se extrajo el documento (https://colombia.inaturalist.org/taxa/58321-Sapindaceae).
    </p>

    <p class="lead", style="text-align:justify">
      Myrtaceae. (indefinida). "exa.unne". Lugar de publicación: Myrtaceae. dirección de donde se extrajo el documento (http://exa.unne.edu.ar/biologia/diversidadv/documentos/ANGIOSPERMAS/Rosideas/Ordenes%20y%20familias%20con%20posici%F3n%20incierta/2-Orden%20Myrtales/4-Myrtaceae.pdf).
    </p>

    <p class="lead", style="text-align:justify">
      Myrtaceae. (indefinida). floracanaria. Lugar de publicación: Myrtaceae. dirección de donde se extrajo el documento (https://floracanaria.com/familias/Myrtaceae.html).
    </p>

    <p class="lead", style="text-align:justify">
      Annonaceae. (2012). ecured. Lugar de publicación: Annonaceae. dirección de donde se extrajo el documento (https://www.ecured.cu/Annonaceae).
    </p>

    <p class="lead", style="text-align:justify">
      Meliaceae. (indefinida). floracanaria. Lugar de publicación: Meliaceae. dirección de donde se extrajo el documento (https://floracanaria.com/familias/Meliaceae.html).
    </p>

    <p class="lead", style="text-align:justify">
      URTICACEAE. (2017). thecompositaehut. Lugar de publicación: URTICACEAE. dirección de donde se extrajo el documento (https://www.thecompositaehut.com/www_tch/webcurso_spv/familias_pv/urticaceae.html).
    </p>

    <p class="lead", style="text-align:justify">
      Sapotaceae. (2012). ecured. Lugar de publicación: Sapotaceae. dirección de donde se extrajo el documento (https://www.ecured.cu/Sapotaceae).
    </p>

    <p class="lead", style="text-align:justify">
      Anacardiaceae. (2012). redalyc. Lugar de publicación: Anacardiaceae. dirección de donde se extrajo el documento (https://www.redalyc.org/pdf/1698/169823914123.pdf).
    </p>

    <p class="lead", style="text-align:justify">
      ANACARDIACEAE. (2017). thecompositaehut. Lugar de publicación: ANACARDIACEAE. dirección de donde se extrajo el documento (http://www.thecompositaehut.com/www_tch/webcurso_spv/familias_pv/anacardiaceae.html#:~:text=Usos%20m%C3%A1s%20importantes%3A%20esta%20familia,cultivados%20como%20fuente%20de%20madera).
    </p>

    <p class="lead", style="text-align:justify">
      COMBRETACEAE. (2017). thecompositaehut. Lugar de publicación: COMBRETACEAE. dirección de donde se extrajo el documento (https://www.thecompositaehut.com/www_tch/webcurso_spv/familias_pv/combretaceae.html).
    </p>

    <p class="lead", style="text-align:justify">
      APOCYNACEAE. (indefinidas). arbolesornamentales. Lugar de publicación: APOCYNACEAE. dirección de donde se extrajo el documento (https://www.arbolesornamentales.es/Apocynaceae.htm).
    </p>

    <p class="lead", style="text-align:justify">
      Lauraceae. (04/12/2020). wikipedia. Lugar de publicación: Lauraceae. dirección de donde se extrajo el documento (https://es.wikipedia.org/wiki/Lauraceae#:~:text=eudesman%C3%B3lidos%20y%20guayan%C3%B3lidos).-,Usos,obtenci%C3%B3n%20de%20aceite%20para%20cosm%C3%A9tica).
    </p>
  </div>
</div>
{% endblock %}