<!--utilizar las extensiones de la carpeta de diseño.html-->

{% extends "diseño.html" %}

{% block content %}
<p>&nbsp;</p>
<div class="container">
  <style>
    body {
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 125% 100%;

    }

  </style>
  <h1>
    <center>
      <strong>Bibliografia</strong>
    </center>
  </h1>
  <h2>
    <center>
      <strong>Con esta bibliografía se contruyó toda la pagina e información como tal</strong>
    </center>
  </h2>
  <p>&nbsp;</p>
  <h4>
    <center>
      <strong>dskjfsdkjfhskdhfsdkfhslkfl</strong>
    </center>
  </h4>
  <p>&nbsp;</p>
</div>
{% endblock %}