<!--utilizar las extensiones de la carpeta de diseño.html-->

{% extends "diseño.html" %}

{% block content %}
<h1>Datos curiosos a editar</h1>
</P>
<CENTER>
	<TABLE WIDTH=589 CELLPADDING=7 CELLSPACING=0>
		<COL WIDTH=279>
		<COL WIDTH=279>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=4><B>Flora.</B></FONT></FONT></P>
				<P STYLE="margin-bottom: 0in"><FONT SIZE=4>Aquí encontrarás coriosidades de algunas de las especies que encuentras en la Sede Medellín de la universidad. 
          
				</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>










{% endblock %}