<!--utilizar las extensiones de la carpeta de diseño.html-->

{% extends "diseño.html" %}

{% block content %}

<a class="btn btn-outline-success" href="{{ url_for('funciones_avanzadas') }}" role="button">funciones avanzadas</a>


<!--id, image, especie, dato1, dato2 y dato3-->

<!--

<form action="" method="POST">
  <div class="mb-3">
    <label for="enumerado" class="form-label">Numero de especie</label>
    <input type="text" class="form-control" id="enumerado" name="enumerado" aria-describedby="enumeradoAyuda">
  </div>
  <div class="mb-3">
  <label for="formFile" class="form-label">Insertar imagen de la especie</label>
  <input class="form-control" type="file" id="formFile" name="image">
  </div>
  <div class="mb-3">
    <label for="especie" class="form-label">Especie</label>
    <input type="text" class="form-control" id="especie" name="especie" aria-describedby="especieAyuda">
  </div>
  <div class="mb-3">
    <label for="dato1" class="form-label">Dato 1</label>
    <input type="text" class="form-control" id="dato1" name="dato1" aria-describedby="dato1Help">
  </div>
  <div class="mb-3">
    <label for="dato2" class="form-label">Dato 2</label>
    <input type="text" class="form-control" id="dato2" name="dato2" aria-describedby="dato2Help">
  </div>
  <div class="mb-3">
    <label for="dato1" class="form-label">Dato 3</label>
    <input type="text" class="form-control" id="dato3" name="dato3" aria-describedby="dato3Help">
  </div>
    <input type="submit" id="send-signup" name="signup" value="Ingresar" />
</form>    

-->

<!--

<select class="form-select" aria-label="Default select example">
  <option selected>Selecciona la especie</option>
  <option value="1">Intento 4</option>
  <option value="2">Intento 7</option>
  <option value="3">Intento 9</option>
</select>

-->




<h1>Datos curiosos a editar</h1>

<CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Arboretum.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
    Araucaria excelsa es una especie de pino nativo de ocanía,que su altura máxima es de 60 Metros. 
  </p>

  <p>
    Es una especie que se cultiva en todo el mundo, incluso se usa en interiores, sus cuidados clave para su correcto crecimiento son:
    Necesita de abundante luz aunque de jóvenes se adaptan bien a la sombra, prosperando en el exterior cuando las temperaturas son cálidas, ya que es sensible al frío y a las heladas. Cuando se cultiva en interior, hay que ubicarla en un lugar con abundante luz.
  </p>

  <p>
    Su uso es aportar oxigeno y sombra en el ecosistema,permite tener en el entorno un clima templado. Y su uso en interiores es plenamente decorativo como un árbol mini.  
  </p>
</div> 
          
				</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>


<CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Flora.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
    Dracaena drago es una planta arbórea, Se trata de una planta de tallos suculentos de tallo único, que ramifica en altura y forma una gran copa formada por penachos de hojas al extremo de las ramas.
  </p>

  <p>
   El nombre procede al parecer de la palabra griega drakaina = dragón femenino, por la relación con su savia rojiza llamada “sangre de drago”, a la que se le suponían apreciadas propiedades medicinales.
  </p>

  <p>
     crece de forma natural en las Islas Canarias, en las de Cabo Verde y en algunas regiones del continente africano. En Tenerife es el símbolo natural de la isla.
  </p>
</div> 

 
          
				</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>


<CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Palmetum.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
    Livistona chinensis es una especie de palma que es muy común encontrarla en las sedes Medellín y se distingue de las demás porque sus hojas tienen forma de abanico y es una palmera enana. 
  </p>

  <p>
   Se utiliza como planta de interior y planta de exterior en jardinería como árbol pequeño.
  </p>

  <p>
     Es una de las especies más resistentes de palmeras. A diferencia de muchas otras, la palmera de abanico china puede tolerar el frío y la sequía.
  </p>
</div> 





       
          
				</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>



<CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Arboretum.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
    Sapindus saponaria,es un árbol reconocido por sus frutos, es también llamado jaboncillo.
  </p>

  <p>
   Se hace uso de sus frutos porque poseen un alto contenido en saponinas, sustancia que al contacto con el agua, crea una espuma la cual se puede usar como detergente ecológico, natural y biodegradable.
  </p>

  <p>
     Debido a la saponina estás tienen propiedades bactericidas y fungicidas, por ende puede ser multiusos con una solución de las semillas. 
  </p>
</div> 





       
          
				</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>


<CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Flora.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
    Dracaena sp, es una especie de arbusto soculento. Es originaria de la las áreas tropicales de África, por lo que su apariencia y sus cuidados serán característicos de las plantas tropicales. Su follaje es perenne.
    .

  </p>

  <p>
    se reconoce y se hace uso  por su capacidad para absorber dióxido de carbono, emitir oxígeno, aumentando nuestra capacidad de concentración y productividad. Además, la planta es capaz de controlar la humedad en un ambiente cerrado.
  </p>

  <p>
     Es una panta nativa de climas tropicales y esto favorece a que se pueda cultivar y mantener en interiores.
  </p>
</div> 



          
				</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>


<CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Palmetum.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
   Phoenix reclinata es una palma nativa de africa,es poco exigente respecto a la calidad de los suelos y si no le falta el agua es de rápido crecimiento. Hibrida fácilmente con otras Phoenix.
  </p>

  <p>
   Sus usos en el territerio son:las hojas se utilizan para cubrir techos y elaborar cestas, el tronco se utiliza como material para la construcción y para elaborar utensilios
  </p>

  <p>
     otros usos se dan con su fruto,el palmito puede comerse como un vegetal. En Natal, Sudáfrica, y el Delta del Okavango,la savia se toma poco antes de la floración para hacer vino de palma. 
  </p>
</div> 





       
          
				</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>


      <CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Arboretum.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
    Psidium guajava,es un árbol pequeño natural de América tropical que se ha asilvestrado en otras zonas tropicales del planeta. Su fruto es la guayaba.
  </p>

  <p>
   Se La fruta se llama guayaba y es comercializada industrialmente por sus cualidades nutritivas.
   La pulpa es usada para tratar parásitos intestinales como Giardia lamblia y lombrices;La raíz se utiliza contra la diarrea.

  </p>

  <p>
     El potasio y la fibra que contiene la  fruta ejercen efectos positivos en el tratamiento de la presión arterial alta y el colesterol. Además la pulpa de la guayaba aporta grandes cantidades de un antioxidante llamado licopeno, el cual disminuye el riesgo de desarrollar enfermedades cardiovasculares
  </p> 
</div> 





       
          
				</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>


<CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Flora.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
   Bambusa vulgaris, estudios de la unal han descubierto en 
   Esta variedad de bambú, que en muchos lugares es considerado como una planta invasiva, posee propiedades físicas y mecánicas que le dan potencial para ser usado como material estructural en construcciones de baja complejidad.
 
    

  </p>

  <p>
    A esta especie le han dado muchos usos como la creación de papel, para control de erosión y carbón. además de usos para contrucción como muebles, techos, etc. 
   </p>
  <p>
     El bambú crece en las selvas espesas donde hay mucha sombra. El exceso de luz mata a este tipo de planta. Además, si no tiene suficiente agua, se volverá amarilla. 
  </p>
</div> 



          
				</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>


      <CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Palmetum.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
   Veitchia merrillii,Se la conoce comúnmente como palma de Manila o palma de Navidad por su fruto rojo que madura en invierno.
  </p>

  <p>
   Es procedinte de filipinas,Se cultiva como ornamental tanto en interiores como exteriores; el color de sus frutos la hacen muy atractiva.

  </p>

  <p>
La cáscara se aprovecha en el cultivo de hortalizas como abono. La fibra del fruto después de procesarlo se utiliza como sustrato para siembra.

  </p>
</div> 

</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>

       <CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Arboretum.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
    	Citrus sp, es la especie de árbol que sus frutos son citricos. Se encuentran en la universidad ya qué, por ser comestibles, son atractivos para los humanos y animales, con ello proporcionan alimento a quién lo necesita. 
  </p>

  <p>
   los citricos son ricos en vitamia c y ácido cítrico, el cual les proporciona ese sabor ácido tan característico. Hay varias especies, como el limón,la naranja o la mandarina. 
  </p>

  <p>
    gracias a los componentes de los frutos se convierten en multiusos, en el campo de la medicina, agricultura, etc.
  </p> 
</div> 





       
          
				</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>


      
<CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Flora.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
  Ravenala madagascariensis,Recibe los nombres vulgares de Árbol del viajero y Palma del viajero; no son palmeras sino que están emparentadas con la Strelitzia reginae (Ave del Paraiso).

  </p>

  <p>
   Es un emblema de la isla de Madagascar, estilizada sobre los aviones de la compañía aérea nacional y en su escudo nacional.
   </p>
  <p>
     
  </p>
</div> 



          
				</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>


        <CENTER>
	<TABLE WIDTH=689>
		<TR VALIGN=TOP>
			<TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
				<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#538135"><FONT SIZE=6><B>Palmetum.</B></FONT></FONT></P>
        <P STYLE="margin-bottom: 0in"><FONT SIZE=4>
<div class="clearfix">
  <img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

  <p>
   	Dypsis lutescens, es una especie tropical de palmera originaria de Madagascar y utilizada como planta ornamental.
  </p>

  <p>
  Es una de las especies d interiores más usadas, ayudan a tner un ambiente fresco y agradable. 

  </p>

  <p>
Produce frutos amarillentos que se tornan negruzcos y flores blancas. Se le llama palmera bambú por su semejanza con el bambú, por sus ramificaciones anilladas.

  </p>
</div> 

</FONT></P>
				<P ALIGN=CENTER><BR>
				</P>
			</TD>











{% endblock %}