
{% extends "diseño.html" %}

{% block content %}

<p>&nbsp;</p>

<a class="btn btn-outline-success" href="{{ url_for('mapa2') }}" role="button">Mapa interactivo</a>

<a class="btn btn-outline-success" href="{{ url_for('datos_curiosos') }}" role="button">Datos curiosos</a>

<!--Colocamos &nbsp para dehr un epacio-->

<p>&nbsp;</p>   

<center>
  <p class="lead">Zona privada para los usuarios</p>
  <hr class="my-4">
</center>

 <p>La universidad Nacional de Colombia Sede Medellín cuenta en total con más de 400 especies, de arboletum con unas 300 especies, entre unas 100 especies de palmetum y 16 especies de otras plantas. </p>

  <p>En la sede  se realizaban antes de la contingencia unos recorridos ecologicos de visitas guiadas presenciales, para que la comunidad pudiera informarse e implementar un sentido de pertenencia. Además ampliar su conocimiento de biodiversidad de especies procedentes mayormente de Colombia.  </p>

  
  <p>con las funciones avanzadas puedes ampliar tu conocimiento de la botánica con el mapa interactivo y los datos curiosos.  </p>

  <strong>Gracias a nuestro estilo remoto puedes conocer más de nuestra biodiversidad  a tan solo un click, sin necesidad de la presencialidad. </strong>







<p>&nbsp;</p>


{% endblock %}