<!--utilizar las extensiones de la carpeta de diseño.html-->

{% extends "diseño.html" %}

{% block content %}

<!-- Los comandos a continuación, los usamos para que la entrada de mapa2.html fuera transmitida en las funciones avanzadas y que permitiera a los usuarios de lazona privada tener el mapa interactivo como función exclusiva. -->


<a class="btn btn-outline-success" href="{{ url_for('funciones_avanzadas') }}" role="button">funciones avanzadas</a>

<p class="lead", style="text-align:justify">
  El mapa interactivo contiene muchas de las especies que se encuentran en la Universidad Nacional de Colombia sede Medellín, entre todas esas se encuentran todo el catálogo de especies de nuestra página web
</p>

<div align="center"><iframe src="https://www.google.com/maps/d/u/1/embed?mid=1nzAZ4aYo8hE7Er_w9Ns_T1MSjG2nkrvc" width="900" height="600">
</iframe>
</div>



{% endblock %}