<!--utilizar las extensiones de la carpeta de diseño.html-->

{% extends "diseño.html" %}

{% block content %}

<p>&nbsp;</p>

<p class="lead", style="text-align:justify">
  La Universidad Nacional sede Medellín cuentra con tres campus, en la siguente imagen veremos el principal llamado Campus El Volador y tambien veremos el mas pequeño llamado Campus El Rio ubicado en la parte inferior de la imagen.
</p>

<p>&nbsp;</p>

<div align="center"><img src="{{ url_for('static', filename='imagenes/volador_rio.png') }}" style="width:1000px;height:980px"></div>

<p>&nbsp;</p>

<p class="lead", style="text-align:justify">
  El tercer campus de la Universidad Nacional sede Medellín es el Campus Robledo, el segundo en tamaño y que además cuenta con unos proyectos de hacerlo un campus sustentable.
</p>

<p>&nbsp;</p>

<div align="center"><img src="{{ url_for('static', filename='imagenes/robledo.png') }}" style="width:1000px;height:980px"></div>

<p>&nbsp;</p>

{% endblock %}