<!--utilizar las extensiones de la carpeta de diseño.html-->

{% extends "diseño.html" %}

{% block content %}
<h1><p class="lead">Nuestro propósito</p>
  <hr class="my-4"></h1>

 <p>Mostrar a los espectadores qué especies de flora y fauna pueden encontrar en la Universidad además de concientizar a las personas de la importancia de nuestro ecosistema y cómo podemos ayudar a preservar nuestro segundo jardín botanico de Medellín.</p>

<P STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in"><A NAME="_GoBack"></A>
<FONT SIZE=3><B>Estrategias para llevar a cabo el proyecto.</B></FONT></P>
<P STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
<BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
<FONT SIZE=4><B>Objetivos.</B></FONT></P>
<P STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
<FONT COLOR="#000000"><FONT SIZE=2 STYLE="font-size: 10pt">Los
podemos dividir en dos, el objetivo general y los específicos; los
objetivos específicos están más relacionado con lo que se va a
hacer durante un periodo de tiempo con las actividades y cuál va a
ser su fin en cambio el objetivo general es la sumatoria de todos los
objetivos específicos y por ende la culminación del proyecto.</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
<FONT SIZE=4><B>Objetivos específicos.</B></FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
	<FONT COLOR="#000000"><FONT SIZE=2 STYLE="font-size: 10pt">Especificar
	los posibles perfiles de las personas que ingresarán a la página.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
	<FONT COLOR="#000000"><FONT SIZE=2 STYLE="font-size: 10pt">Lograr
	que el proyecto se vea llamativo al público.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
	<FONT COLOR="#000000"><FONT SIZE=2 STYLE="font-size: 10pt">Recolectar
	los datos necesarios para realizar el proyecto.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
	<FONT COLOR="#000000"><FONT SIZE=2 STYLE="font-size: 10pt">Con las
	bases de datos darles orden y seguridad a los mismos, además de
	establecer la manera en que saldrán en la página web.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
	<FONT COLOR="#000000"><FONT SIZE=2 STYLE="font-size: 10pt">Con las
	opciones avanzadas al crear una cuenta se pretende brindarles más
	información que pueda ser de utilidad para ellos.</FONT></FONT></P>
</UL>
<P STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
<BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
<FONT SIZE=4><B>Objetivo general.</B></FONT></P>
<P STYLE="margin-bottom: 0in; background: #fffffe; line-height: 0.2in">
<FONT COLOR="#000000"><FONT SIZE=2 STYLE="font-size: 10pt">Las
personas interesadas puedan ubicar de manera fácil, oportuna y
agradable la fauna y flora del segundo jardín botánico de Medellín,
además tener información específica de cada especie acompañada
con imágenes y lograr interactuar.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>


 {% endblock %}
