<!--creamos un formulario con Flask para que los usuarios ingresen los datos de la base de datos.Un Registro de usuarios. -->

{% extends "diseño.html" %}


{% block title %}Registro de usuarios{% endblock %}

{% block content %}

<p>&nbsp;</p>

<P STYLE="margin-bottom: 0in;line-height: 0.2in"><A NAME="_GoBack"></A>
<FONT SIZE=4><B>Registrate para que puedas ingresar a la zona privada.</B></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 0.2in">
<BR>
</P>

<p>&nbsp;</p> 

<form action="" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="nombreAyuda">
   <div id="nombre Ayuda" class="form-text">Un sólo nombre</div>
  </div>
  <div class="mb-3">
    <label for="surname" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="surname" name="surname" aria-describedby="apellidoAyuda">
   <div id="nombre Ayuda" class="form-text">Un sólo apellido</div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email </label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" users="email">
    <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electronico con nadie más.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <p>&nbsp;</p>
    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>  
<p>&nbsp;</p>  
{% endblock %}

