<!--utilizar las extensiones de la carpeta de diseño.html-->

<!--con ctrl f (control+f) se las palabras idénticas-->

{% extends "diseño.html" %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Arboretum</th>
      <th scope="col">Palmetum</th>
      <th scope="col">Otras plantas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>ARBOLES</td>
      <td>Phoenix reclinata</td>
      <td>Ravenala madagascariensis</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ARBOLES</td>
      <td>Veitchia merrillii</td>
      <td>Dracaena sp</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Larry the Bird</td>
      <td>Dypsis lutescens</td>
      <td>Bambusa vulgaris</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>...</td>
      <td>Livistona chinensis</td>
      <td>Guadua angustifolia</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>...</td>
      <td>Cocos nucifera</td>
      <td>Cassia fistula</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>...</td>
      <td>Syagrus romanzoffiana</td>
      <td>Dendrocalamus sp</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>...</td>
      <td>Phoenix canariensis</td>
      <td>Guadua sp</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>...</td>
      <td>Aiphanes horrida</td>
      <td>Cycas revoluta</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>...</td>
      <td>Pachira speciosa</td>
      <td>cf Dendrocalamus sp</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>...</td>
      <td>Roystonea regia</td>
      <td>Yucca guatemalensis</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>...</td>
      <td>Phoenix sp</td>
      <td>Cycas debaoensis</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>...</td>
      <td>Phoenix roebelenii</td>
      <td>Zamia sp</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>...</td>
      <td>Syagrus sancona</td>
      <td>Pandanus utilis</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>...</td>
      <td>Archontophoenix cunninghamiana</td>
      <td>Cycas sp</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>...</td>
      <td>Bactris gasipaes</td>
      <td>Cycas rumphii</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>...</td>
      <td>Dypsis decaryi</td>
      <td>Dracaena drago</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>...</td>
      <td>Cyrtostachys renda</td>
      <td>Dracaena fragans</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>...</td>
      <td>Washingtonia robusta</td>
      <td>Yucca elephantipes</td>      
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>...</td>
      <td>Livistona rotundifolia</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>...</td>
      <td>Archontophoenix alexandrae</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>...</td>
      <td>Livistona drudei</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">22</th>
      <td>...</td>
      <td>Sabal palmetto</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>...</td>
      <td>Elaeis guineensis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">24</th>
      <td>...</td>
      <td>Rhapis excelsa</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td>...</td>
      <td>Bismarckia nobilis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td>...</td>
      <td>Chamaedorea sp</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">27</th>
      <td>...</td>
      <td>Dictyosperma album</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">28</th>
      <td>...</td>
      <td>Socratea exorrhiza</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">29</th>
      <td>...</td>
      <td>Euterpe oleracea</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">30</th>
      <td>...</td>
      <td>Sabal domingensis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">31</th>
      <td>...</td>
      <td>Iriartea deltoidea</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">32</th>
      <td>...</td>
      <td>Pinanga sp</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">33</th>
      <td>...</td>
      <td>Wettinia sp</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">34</th>
      <td>...</td>
      <td>Phytelephas macrocarpa</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">35</th>
      <td>...</td>
      <td>Callistemon speciosus</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">36</th>
      <td>...</td>
      <td>Arecaceae</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">37</th>
      <td>...</td>
      <td>Arenga caudata</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">38</th>
      <td>...</td>
      <td>Aiphanes aff parvifolia</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">39</th>
      <td>...</td>
      <td>Aiphanes simplex</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">40</th>
      <td>...</td>
      <td>Bactris sp</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">41</th>
      <td>...</td>
      <td>Bactris pilosa</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">42</th>
      <td>...</td>
      <td>Handroanthus chrysanthus</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">43</th>
      <td>...</td>
      <td>Areca triandra</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">45</th>
      <td>...</td>
      <td>Pinanga isabelensis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">46</th>
      <td>...</td>
      <td>Howea forsteriana</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">47</th>
      <td>...</td>
      <td>Chelyocarpus dianeurus</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">48</th>
      <td>...</td>
      <td>Licuala grandis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">49</th>
      <td>...</td>
      <td>Oenocarpus bataua</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">50</th>
      <td>...</td>
      <td>Sabal mauritiiformis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">51</th>
      <td>...</td>
      <td>Arenga westerhoutii</td>
      <td></td>
    </tr>
  </tbody>
</table>

{% endblock %}