<!--utilizar las extensiones de la carpeta de diseño.html-->

<!--con ctrl f (control+f) se las palabras idénticas-->

{% extends "diseño.html" %}

{% block content %}

<!--Creamos la tabla por medio de la etiqueta table, y pues ella va atomar forma con la calse (class="table") con la que bootstrap le va a dar forma porque son diseños peescogidos de bootstrap para complicarnos menos la vida-->

<table class="table">

  <!--Creamos el elemento "thead" que nos permitira contener el bloque de filas y así por medio del método "th" (columnas) hacer en encabezado-->
  <thead>
    <!--con este comando "tr" vamos a crear cada una de las filas-->
    <tr>
      <!--Como habiamos comentado anteriormente con el th hacemos el encabezado, con "scope" especificamos si es columna o fila y por ultimo comentamos-->
      <th scope="col">#</th>
      <th scope="col">Arboretum</th>
      <th scope="col">Palmetum</th>
      <th scope="col">Otras plantas</th>
    </tr>
  </thead>
  <!--Con "tbody" haremos cada bloque de filas y lo utilizaremos mas que todo para especificar la información de las filas.-->
  <tbody>
    <tr>
      <!--En este caso especificamos que el encabezado heco por medio del código "th" va a ser el de una fila para que así le demos orden al cuadro-->
      <th scope="row">1</th>
      <!--con el código "td" vamos a ingresar los valores de las filas hechas con "tr" en su respectiva columna "td"-->
      <td>Araucaria excelsa</td>
      <td>Phoenix reclinata</td>
      <td>Ravenala madagascariensis</td>
    </tr>
    <!--como el código a partir de aquí se repite no lo comentaré porque va a ser la repetición de la repetidera.-->
    <tr>
      <th scope="row">2</th>
      <td>Sapindus saponaria</td>
      <td>Veitchia merrillii</td>
      <td>Dracaena sp</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Psidium guajava</td>
      <td>Dypsis lutescens</td>
      <td>Bambusa vulgaris</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Citrus sp</td>
      <td>Livistona chinensis</td>
      <td>Guadua angustifolia</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Cedrela odorata</td>
      <td>Cocos nucifera</td>
      <td>Yucca elephantipes</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Sterculia apetala</td>
      <td>Syagrus romanzoffiana</td>
      <td>Dendrocalamus sp</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Malpighia glabra</td>
      <td>Phoenix canariensis</td>
      <td>Guadua sp</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Terminalia sp</td>
      <td>Aiphanes horrida</td>
      <td>Cycas revoluta</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Mangifera indica</td>
      <td>Trithrinax schizophylla</td>
      <td>cf Dendrocalamus sp</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Cascabela thevetia</td>
      <td>Roystonea regia</td>
      <td>Yucca guatemalensis</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Fraxinus uhdei</td>
      <td>Phoenix sp</td>
      <td>Cycas debaoensis</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Matisia cordata</td>
      <td>Phoenix roebelenii</td>
      <td>Zamia sp</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Persea caerulea</td>
      <td>Syagrus sancona</td>
      <td>Pandanus utilis</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>Leucaena leucocephala</td>
      <td>Archontophoenix cunninghamiana</td>
      <td>Cycas sp</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>Cojoba arborea</td>
      <td>Bactris gasipaes</td>
      <td>Cycas rumphii</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>Terminalia catappa</td>
      <td>Dypsis decaryi</td>
      <td>Dracaena drago</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>Annona muricata</td>
      <td>Cyrtostachys renda</td>
      <td>Dracaena fragans</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>Bischofia javanica</td>
      <td>Washingtonia robusta</td>
      <td>...</td>      
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>Swietenia macrophylla</td>
      <td>Livistona rotundifolia</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>Aspidosperma sp</td>
      <td>Archontophoenix alexandrae</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>Koelreuteria sp</td>
      <td>Livistona drudei</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">22</th>
      <td>Carica papaya</td>
      <td>Sabal palmetto</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>Pithecellobium dulce</td>
      <td>Elaeis guineensis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">24</th>
      <td>Spathodea campanulata</td>
      <td>Rhapis excelsa</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td>Delonix regia</td>
      <td>Bismarckia nobilis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">26</th>
      <td>Ricinus communis</td>
      <td>Chamaedorea sp</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">27</th>
      <td>Aegiphila sp</td>
      <td>Dictyosperma album</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">28</th>
      <td>Brosimum sp</td>
      <td>Socratea exorrhiza</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">29</th>
      <td>Sapotaceae</td>
      <td>Euterpe oleracea</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">30</th>
      <td>Fabaceae</td>
      <td>Sabal domingensis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">31</th>
      <td>Senna spectabilis</td>
      <td>Iriartea deltoidea</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">32</th>
      <td>Syzygium malaccense</td>
      <td>Pinanga sp</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">33</th>
      <td>Tabebuia rosea</td>
      <td>Wettinia sp</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">34</th>
      <td>Erythrina fusca</td>
      <td>Phytelephas macrocarpa</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">35</th>
      <td>Schinus terebinthifolius</td>
      <td>Callistemon speciosus</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">36</th>
      <td>Polyalthia longifolia</td>
      <td>Arecaceae</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">37</th>
      <td>Pourouma sp</td>
      <td>Arenga caudata</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">38</th>
      <td>Nageia rospigliosii</td>
      <td>Aiphanes aff parvifolia</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">39</th>
      <td>Meliaceae</td>
      <td>Aiphanes simplex</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">40</th>
      <td>Burseraceae</td>
      <td>Bactris sp</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">41</th>
      <td>Acnistus arborescens</td>
      <td>Bactris pilosa</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">42</th>
      <td>Handroanthus chrysanthus</td>
      <td>Brassiophoenix schumanii</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">43</th>
      <td>Calliandra pittieri</td>
      <td>Areca triandra</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">44</th>
      <td>Inga edulis</td>
      <td>pritchardia pacifica</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">45</th>
      <td>Bauhinia kalbreyeri</td>
      <td>Pinanga isabelensis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">46</th>
      <td>Triplaris americana</td>
      <td>Howea forsteriana</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">47</th>
      <td>Lafoensia acuminata</td>
      <td>Chelyocarpus dianeurus</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">48</th>
      <td>Ficus benjamina</td>
      <td>Licuala grandis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">49</th>
      <td>Ficus elastica</td>
      <td>Oenocarpus bataua</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">50</th>
      <td>Talipariti tiliaceum</td>
      <td>Sabal mauritiiformis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">51</th>
      <td>Persea americana</td>
      <td>Arenga westerhoutii</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">52</th>
      <td>Licania tomentosa</td>
      <td>Astrocaryum standleyanum</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">53</th>
      <td>Zygia longifolia</td>
      <td>Chamaedorea tepejilote</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">54</th>
      <td>Melicoccus bijugatus</td>
      <td>Chamaedorea seifrizii</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">55</th>
      <td>Ficus lyrata</td>
      <td>Thrinax parviflora</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">56</th>
      <td>Murraya paniculata</td>
      <td>Salacca edulis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">57</th>
      <td>Terminalia ivorensis</td>
      <td>Latania lontaroides</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">58</th>
      <td>Swinglea glutinosa</td>
      <td>Caryota urens</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">59</th>
      <td>Eucalyptus sp</td>
      <td>Attalea amygdalina</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">60</th>
      <td>Syzygium jambos</td>
      <td>Orania palindan</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">61</th>
      <td>Rubiaceae</td>
      <td>Elaeis oleifera</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">62</th>
      <td>Lagerstroemia speciosa</td>
      <td>Lytocaryum weddellianum</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">63</th>
      <td>Caesalpinia pluviosa var peltophoroides</td>
      <td>Coccothrinax argentata</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">64</th>
      <td>Polyscias sp</td>
      <td>Rhapis humilis</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">65</th>
      <td>Ceiba pentandra</td>
      <td>Butia capitata</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">66</th>
      <td>Parkia sp</td>
      <td>Acrocomia aculeata</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">67</th>
      <td>Hevea brasiliensis</td>
      <td>Ptychosperma macarthuri</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">68</th>
      <td>Inga sp</td>
      <td>Socratea exorrizha</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">69</th>
      <td>Caesalpinia ebano</td>
      <td>Normanbya normanbyi</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">70</th>
      <td>cf Swartzia sp</td>
      <td>Wodyetia bifurcata</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">71</th>
      <td>Enterolobium cyclocarpum</td>
      <td>Cryosophila kalbreyeri</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">72</th>
      <td>Anacardium excelsum</td>
      <td>Synecanthus fibrosus</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">73</th>
      <td>Brownea sp</td>
      <td>Hyophorbe verschaffeltii</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">74</th>
      <td>Ficus sp</td>
      <td>Coccothrinax cf miraguama</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">75</th>
      <td>Astronium graveolens</td>
      <td>Acoelorraphe wrightii</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">76</th>
      <td>Codiaeum variegatum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">77</th>
      <td>Eriobotrya japonica</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">78</th>
      <td>Cariniana pyriformis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">79</th>
      <td>Cupania sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">80</th>
      <td>Cupressus lusitanica</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">81</th>
      <td>Muerto</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">82</th>
      <td>Kigelia pinnata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">83</th>
      <td>cf Ormosia sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">84</th>
      <td>Calliandra sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">85</th>
      <td>Platypodium elegans</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">86</th>
      <td>Bulnesia sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">87</th>
      <td>Hymenaea courbaril</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">88</th>
      <td>Garcinia madruno</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">89</th>
      <td>Melicoccus oliviformis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">90</th>
      <td>Jacaranda mimosifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">91</th>
      <td>Malvaceae</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">92</th>
      <td>Ochroma pyramidale</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">93</th>
      <td>Caesalpinia pulcherrima</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">94</th>
      <td>Morinda citrifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">95</th>
      <td>Hamelia patens</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">96</th>
      <td>Casearia sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">97</th>
      <td>Magnolia cf silvioi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">98</th>
      <td>Genipa americana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">99</th>
      <td>Dilodendron costarricense</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">100</th>
      <td>cf Apeiba sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">101</th>
      <td>Albizia saman</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">102</th>
      <td>Pterygota excelsa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">103</th>
      <td>Schotia brachypetala</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">104</th>
      <td>Annona purpurea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">105</th>
      <td>Tocoyena pittieri</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">106</th>
      <td>Cordia alliodora</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">107</th>
      <td>Vatairea sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">108</th>
      <td>Ceiba speciosa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">109</th>
      <td>Mimosa caesalpiniifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">110</th>
      <td>Morus alba</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">111</th>
      <td>Cecropia peltata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">112</th>
      <td>Cinnamomum triplinerve</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">113</th>
      <td>Artocarpus integrifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">114</th>
      <td>Chrysophyllum cainito</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">115</th>
      <td>Spondias mangifera</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">116</th>
      <td>Erythrina poeppigiana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">117</th>
      <td>Dialium guianense</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">118</th>
      <td>Albizia guachapele</td>
      <td></td>
      <td></td>      
    </tr>
    <tr>
      <th scope="row">119</th>
      <td>Dalbergia nigra</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">120</th>
      <td>Blighia sapida</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">121</th>
      <td>Ephedranthus colombianus</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">122</th>
      <td>Cupania americana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">123</th>
      <td>Ormosia macrophylla</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">124</th>
      <td>Schefflera actinophylla</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">125</th>
      <td>Pseudobombax septenatum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">126</th>
      <td>Acacia auriculiformis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">127</th>
      <td>Flacourtia indica</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">128</th>
      <td>Castilla elastica</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">129</th>
      <td>Trichilia hirta</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">130</th>
      <td>Margaritaria nobilis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">131</th>
      <td>Pachira quinata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">132</th>
      <td>Cavanillesia platanifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">133</th>
      <td>Triplaris cf caracasana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">134</th>
      <td>Couroupita guianensis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">135</th>
      <td>Terminalia superba</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">136</th>
      <td>Eriotheca gracilipes</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">137</th>
      <td>Godmania aesculifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">138</th>
      <td>Acacia mangium</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">139</th>
      <td>Euphorbia pulcherriama</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">140</th>
      <td>Theobroma cacao</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">141</th>
      <td>Psidium cattleianum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">142</th>
      <td>Dypterix odorata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">143</th>
      <td>Pouteria sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">144</th>
      <td>Guazuma ulmifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">145</th>
      <td>Zygia longifoia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">146</th>
      <td>Ficus aff benjamina</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">147</th>
      <td>Simarouba amara</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">148</th>
      <td>Cordia gerascanthus</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">149</th>
      <td>Eucalyptus citriodora</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">150</th>
      <td>Hura crepitans</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">151</th>
      <td>Myrciaria cauliflora</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">152</th>
      <td>Crescentia cujete</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">153</th>
      <td>Manilkara sapota</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">154</th>
      <td>Acca sellowiana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">155</th>
      <td>Couroupita darienensis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">156</th>
      <td>Terminalia oblonga</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">157</th>
      <td>Pentaclethra macroloba</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">158</th>
      <td>Bauhinia variegata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">159</th>
      <td>Clarisia biflora</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">160</th>
      <td>Guaiacum officinale</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">161</th>
      <td>Schizolobium parahyba</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">162</th>
      <td>Vitex sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">163</th>
      <td>Buchenavia reticulata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">164</th>
      <td>Machaerium capote</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">165</th>
      <td>Swartzia robiniifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">166</th>
      <td>Bucida buceras</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">167</th>
      <td>Spondias mombin</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">168</th>
      <td>Vitex cooperi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">169</th>
      <td>Coccoloba acuminata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">170</th>
      <td>Handroanthus ochraceus</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">171</th>
      <td>Alchornea costaricensis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">172</th>
      <td>Hymenaea oblongifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">173</th>
      <td>Koelreuteria paniculata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">174</th>
      <td>Guarea guidonia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">175</th>
      <td>Gmelina arborea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">176</th>
      <td>Casimiroa edulis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">177</th>
      <td>Gyrocarpus americanus</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">178</th>
      <td>Buchenavia capitata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">179</th>
      <td>Brownea grandiceps</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">180</th>
      <td>Handroanthus bilbergii</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">181</th>
      <td>Centrolobium yavizanum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">182</th>
      <td>Dipteryx oleifera</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">183</th>
      <td>Gliricidia sepium</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">184</th>
      <td>Plumeria sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">185</th>
      <td>Carapa guianensis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">186</th>
      <td>Lacmellea panamensis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">187</th>
      <td>Coccoloba uvifera</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">188</th>
      <td>Adenanthera pavonina</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">189</th>
      <td>Lecythis tuyrana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">190</th>
      <td>Erythrina crista-galli</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">191</th>
      <td>Swietenia humilis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">192</th>
      <td>Thespesia populnea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">193</th>
      <td>Ficus cyathistipula</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">194</th>
      <td>Anacardium occidentale</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">195</th>
      <td>Ochna thomasiana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">196</th>
      <td>Jatropha integerrima</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">197</th>
      <td>Stemmadenia litoralis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">198</th>
      <td>Piper sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">199</th>
      <td>Cynometra sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">200</th>
      <td>Caryodendron orinocense</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">201</th>
      <td>Macrocnemum roseum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">202</th>
      <td>Swietenia mahagoni</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">203</th>
      <td>Uribea tamarindoides</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">204</th>
      <td>Pterocarpus officinalis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">205</th>
      <td>Diptery oleifera</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">206</th>
      <td>Quercus humboldtii</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">207</th>
      <td>Prioria copaifera</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">208</th>
      <td>Byrsonima spicata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">209</th>
      <td>Liquidambar styraciflua</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">210</th>
      <td>Gustavia superba</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">211</th>
      <td>Podocarpus guatemalensis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">212</th>
      <td>Grias sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">213</th>
      <td>Pachira speciosa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">214</th>
      <td>Thuja orientalis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">215</th>
      <td>Parkia multijuga</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">216</th>
      <td>Diospyros digyna</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">217</th>
      <td>Licania arborea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">218</th>
      <td>Calliandra haematocephala</td>
      <td></td>
      <td></td>      
    </tr>
    <tr>
      <th scope="row">219</th>
      <td>Cespedesia spathulata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">220</th>
      <td>Schefflera arboricola</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">221</th>
      <td>Brownea ariza</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">222</th>
      <td>Nectandra sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">223</th>
      <td>Caryodaphnopsis sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">224</th>
      <td>Andira sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">225</th>
      <td>Theobroma grandiflorum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">226</th>
      <td>Copaifera sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">227</th>
      <td>Cassia grandis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">228</th>
      <td>Tectona grandis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">229</th>
      <td>Cochlospermum vitifolium</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">230</th>
      <td>Luehea seemannii</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">231</th>
      <td>Licaria triandra</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">232</th>
      <td>Spondias purpurea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">233</th>
      <td>Pterocarpus acapulcensis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">234</th>
      <td>Andira inermis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">235</th>
      <td>Coffea arabica var maragogype</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">236</th>
      <td>Peltophorum pterocarpum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">237</th>
      <td>Trichanthera gigantea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">238</th>
      <td>Senna siamea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">239</th>
      <td>Inga herrerae</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">240</th>
      <td>Cecropia sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">241</th>
      <td>Hernandia didymantha</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">242</th>
      <td>Parkia pendula</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">243</th>
      <td>Billia rosea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">244</th>
      <td>Calophyllum brasiliense</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">245</th>
      <td>Lafoensia cf glyptocarpa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">246</th>
      <td>Chloroleucon aff tortum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">247</th>
      <td>Peltophorum dubium</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">248</th>
      <td>Bursera simaruba</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">249</th>
      <td>Brosimum alicastrum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">250</th>
      <td>Bulnesia arborea</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">251</th>
      <td>Garcinia mangostana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">252</th>
      <td>Cinnamomum camphora</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">253</th>
      <td>Cochlospermum orinocense</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">254</th>
      <td>Rollinia mucosa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">255</th>
      <td>Tapirira guianensis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">256</th>
      <td>Pourouma cecropiifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">257</th>
      <td>Patinoa almirajo</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">258</th>
      <td>Handroanthus serratifolius</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">259</th>
      <td>Dussia lehmannii</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">260</th>
      <td>Roupala montana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">261</th>
      <td>Myroxylon balsamum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">262</th>
      <td>Aspidosperma spruceanum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">263</th>
      <td>Aniba puchury-minor</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">264</th>
      <td>Duranta repens</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">265</th>
      <td>Salix humboldtiana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">266</th>
      <td>Talipariti elatum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">267</th>
      <td>Handroanthus heptaphyllus</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">268</th>
      <td>Erythrina velutina</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">269</th>
      <td>Campomanesia lineatifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">270</th>
      <td>Meliccocus ovaliformis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">271</th>
      <td>Centrolobium ochroxylum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">272</th>
      <td>Erythrina edulis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">273</th>
      <td>Ormosia colombiana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">274</th>
      <td>Peltogyne paniculata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">275</th>
      <td>Erythrina sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">276</th>
      <td>Sterculia sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">277</th>
      <td>cf Jatropha sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">278</th>
      <td>Malpighiaceae</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">279</th>
      <td>Calycophyllum candidissimum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">280</th>
      <td>Erythroxylum sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">281</th>
      <td>Swietenia sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">282</th>
      <td>Eugenia paniculata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">283</th>
      <td>Hemistylus sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">284</th>
      <td>Calliandra medellinensis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">285</th>
      <td>Solanum sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">286</th>
      <td>Fraxinus udhei</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">287</th>
      <td>Psidium sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">288</th>
      <td>Ligustrum lucidum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">289</th>
      <td>Pseudosamanea guachapele</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">290</th>
      <td>Tamarindus indica</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">291</th>
      <td>Averrhoa carambola</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">292</th>
      <td>Cassia fistula</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">293</th>
      <td>Mammea americana</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">294</th>
      <td>Myrsine sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">295</th>
      <td>Ficus cf palida</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">296</th>
      <td>Zanthoxylum rhoifolium</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">297</th>
      <td>Brownea stenantha</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">298</th>
      <td>Artocarpus altilis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">299</th>
      <td>cf Byrsonima sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">300</th>
      <td>cf Lecythis sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">301</th>
      <td>Indeterminado</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">302</th>
      <td>cf Lecythidaceae</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">303</th>
      <td>Cassia sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">304</th>
      <td>Anacardiaceae</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">305</th>
      <td>cf Pentagonia sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">306</th>
      <td>cf Parkia sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">307</th>
      <td>Melastomataceae</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">308</th>
      <td>Gustavia sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">309</th>
      <td>Urticaceae</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">310</th>
      <td>Manilkara zapota</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">311</th>
      <td>Psidium guineense</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">312</th>
      <td>Euphorbia cotinifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">313</th>
      <td>Cnidoscolus aconitifolius</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">314</th>
      <td>Thevetia ahouai</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">315</th>
      <td>Macadamia integrifolia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">316</th>
      <td>Lafoensia speciosa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">317</th>
      <td>Melaleuca quinquenervia</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">318</th>
      <td>Ficus elastica var variegata</td>
      <td></td>
      <td></td>      
    </tr>
    <tr>
      <th scope="row">319</th>
      <td>Juglans neotropica</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">320</th>
      <td>Azadirachta indica</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">321</th>
      <td>Annona squamosa</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">322</th>
      <td>Eugenia stipitata</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">323</th>
      <td>Inga spectabilis</td>
      <td</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">324</th>
      <td>Pterogyne nitens</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">325</th>
      <td>cf Zuelania</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">326</th>
      <td>Caryocar glabrum</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">327</th>
      <td>cf Rhodostemonodaphne</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">328</th>
      <td>cf Buchenavia sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">329</th>
      <td>Malpighiaceae 1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">330</th>
      <td>Acrocarpus fraxinifolius</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">331</th>
      <td>Lauraceae</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">332</th>
      <td>cf Heliocarpus sp</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">333</th>
      <td>Pithecellobium sp</td>
      <td></td>
      <td></td>      
    </tr>
    
  </tbody>
</table>

{% endblock %}