<!--utilizar las extensiones de la carpeta de diseño.html-->

{% extends "diseño.html" %}

{% block content %}

<!--Este código &nbsp; es muy necesario porque sirve para dejar espación entre parrafos y hace que se vea mas presentable, aunque html no sea para dar estilo si no funciones pero aun así estos espación son fundamentales para ubicar en buen estados los container que utilizaremos en css para darle forma-->
<p>&nbsp;</p>

<a class="btn btn-outline-success" href="{{ url_for('login') }}" role="button">Ingresar</a>

<a class="btn btn-outline-success" href="{{ url_for('signup') }}" role="button">Registrar</a>


<div class="jumbotron">
  <h1 class="display-4">Bienvenidos a nuestro sitio web</h1>
  <p class="lead"> Aquí encontraras las especies de flora y fauna e información botanica  de la Universidad nacional de Colombia en Medellín.</p>
   <p class="lead">Te invitamos a que te registres en nuestro sitio web y puedas ser usuario de UMB, esto te permitira hacer uso de las funciones avanzadas como lo son el mapa interactivo, datos curiosos de las especies y familias de especies que se encuentran dentro de la Universidad.</p>
  <hr class="my-4">
  <p>si quieres saber más de nosostros presiona aquí</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg" href="{{ url_for('about') }}" role="button">Lee más</a>
  </p>
</div>

<p class="lead">En si toda la información que está dentro de la página es 100% veráz, sólo que el pryecto se está desarrollando al transcurrir del primer semestre del 2021 y como tal no se puede ingresar a la universidad para recolectar datos de especies, imagenes y videos, además de que por el paro nacional ocacionado en Colombia el personal de la universidad no contestaban correos y por ello tampoco pudimos obtener información oficial de la universidad por estos casos, toda la información del proyecto se encuentra dentro de páginas de la U junto con ayudas de algunos profesores, se espera que si alguna vez se puede llegar ingresar a la Universidad completar buena información de la página</p>

<p>&nbsp;</p>

{% endblock %}


