<!--utilizar las extensiones de la carpeta de diseño.html-->

{% extends "diseño.html" %}

{% block content %}


<a class="btn btn-outline-success" href="{{ url_for('login') }}" role="button">Ingresar</a>

<div class="jumbotron">
  <h1 class="display-4">Bienvenidos a nuestro sitio web</h1>
  <p class="lead"> Aquí encontraras las especies de flora y fauna e información botanica  de la Universidad nacional de Colombia en Medellín.</p>
  <hr class="my-4">
  <p>si quieres saber más de nosostros presiona aquí</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg" href="#" role="button">Lee más </a>
  </p>
</div>

{% endblock %}


